<div class="container">
  <h4 class="alert alert-info">Información del país {{ pais.name }}</h4>
  <div class="row" *ngIf="pais">
    <div class="col-7">
      <img [src]="pais.flag" class="img-fluid" alt="">
    </div>

    <div class="col-5">
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Nombre: </strong> {{ pais.name }}
        </li>
        <li class="list-group-item">
          <strong>Población: </strong> {{ pais.population }}
        </li>

        <li class="list-group-item">
          <strong>Capital: </strong> {{ pais.capital }}
        </li>
      </ul>
    </div>
  </div>

  <div class="row mt-2">
    <h3>Traducciones</h3>

    <div>
      <span class="badge bg-primary px-2 mx-1">{{pais.translations.br}}</span>
      <span class="badge bg-primary px-2 mx-1">{{pais.translations.de}}</span>
      <span class="badge bg-primary px-2 mx-1">{{pais.translations.es}}</span>
      <span class="badge bg-primary px-2 mx-1">{{pais.translations.fa}}</span>
      <span class="badge bg-primary px-2 mx-1">{{pais.translations.fr}}</span>
      <span class="badge bg-primary px-2 mx-1">{{pais.translations.hr}}</span>
      <span class="badge bg-primary px-2 mx-1">{{pais.translations.it}}</span>
      <span class="badge bg-primary px-2 mx-1">{{pais.translations.pt}}</span>
      <span class="badge bg-primary px-2 mx-1">{{pais.translations.nl}}</span>
    </div>
  </div>
</div>
