<div class="animate__animated animate__fadeIn animate__flash">
  <h3>Región {{regionActiva | titlecase}}</h3>
  <hr>

  <button
  *ngFor="let region of regiones"
  [class]="getClassActivate(region)"
  (click)="getRegion(region)"
  >
  {{region}}
  </button>

  <!-- <div *ngIf="isError"
  class="alert alert-danger">
  No se encuntraron resultados
  </div>
 -->
  <div>
    <div class="row">
      <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
      </div>
    </div>
  </div>


</div>
